In [24]:
import pandas as pd
import numpy as np

import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

from sklearn.model_selection import train_test_split

In [25]:
# delim_whitespace = True는 공백으로 구분된 파일을 읽을 때 사용한다.

df_pre = pd.read_csv('deeplearning/dataset/housing.csv', delim_whitespace=True, header=None)
df_pre.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222.0,18.7,396.90,5.33,36.2

In [26]:
df = df_pre.sample(frac=1) # 100%의 데이터를 랜덤으로 뽑기
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
412,18.81100,0.0,18.10,0,0.597,4.628,100.0,1.5539,24,666.0,20.2,28.79,34.37,17.9
497,0.26838,0.0,9.69,0,0.585,5.794,70.6,2.8927,6,391.0,19.2,396.90,14.10,18.3
394,13.35980,0.0,18.10,0,0.693,5.887,94.7,1.7821,24,666.0,20.2,396.90,16.35,12.7
393,8.64476,0.0,18.10,0,0.693,6.193,92.6,1.7912,24,666.0,20.2,396.90,15.17,13.8
480,5.82401,0.0,18.10,0,0.532,6.242,64.7,3.4242,24,666.0,20.2,396.90,10.74,23.0

In [27]:
dataset = df.values
x = dataset[:, :13]
y = dataset[:, 13]

print(x)
print('-' * 50)
print(y)

[[1.88110e+01 0.00000e+00 1.81000e+01 ... 2.02000e+01 2.87900e+01
  3.43700e+01]
 [2.68380e-01 0.00000e+00 9.69000e+00 ... 1.92000e+01 3.96900e+02
  1.41000e+01]
 [1.33598e+01 0.00000e+00 1.81000e+01 ... 2.02000e+01 3.96900e+02
  1.63500e+01]
 ...
 [6.04700e-02 0.00000e+00 2.46000e+00 ... 1.78000e+01 3.87110e+02
  1.31500e+01]
 [3.65900e-02 2.50000e+01 4.86000e+00 ... 1.90000e+01 3.96900e+02
  6.72000e+00]
 [1.17470e-01 1.25000e+01 7.87000e+00 ... 1.52000e+01 3.96900e+02
  1.32700e+01]]
--------------------------------------------------
[17.9 18.3 12.7 13.8 23.  21.6 22.9 33.4 50.  12.7 33.2 50.  29.6 22.9
  8.3 37.6 28.7 19.4 37.  20.6 12.7 17.2 24.1  8.5 10.5 21.8 20.8 16.2
 20.7 22.8 22.7 21.4 28.7 25.2 14.5 22.6 36.  23.  17.8 21.  19.4 15.
 19.7 31.5 10.8 13.1 20.  21.4 23.1 33.4 24.  27.  19.6 13.   8.3 21.9
 13.8 41.3 24.4 13.8 29.4 16.5  5.  16.1 36.4 28.5 28.6 28.4 18.6 13.1
 27.5 18.5 24.4 29.8 23.3 22.  35.4 14.6 24.8 50.  10.2 22.2 17.3 19.1
 43.5 30.1 24.6 24.8 24.7 28.  22.2 28.2 10.5 24.5 12.1 19.4 14.5 21.5
 21.2 35.2 20.6 20.6 13.9 14.9 20.  20.5 20.4 19.8  8.4 18.7 50.  22.
 23.9 15.6 23.9 12.6 20.5 23.2 34.7 19.4  8.7 30.3 23.4 19.5 30.1 17.5
 16.1 24.3 18.8 32.4 10.4 23.8 24.  44.8 20.  19.3 50.  22.3 21.2 28.4
 29.1 13.6 22.5 18.7 25.  19.  20.8 19.8 21.7 33.2 32.9 17.1 13.3 21.7
 13.9 19.  19.2 21.  21.7 22.5 34.9 20.1 30.1 19.6 24.6 23.9 48.5 21.
 21.8 27.5 19.3 25.  50.  33.1 22.2 31.6 18.7 26.7 19.6  7.2 45.4 20.4
  7.2 22.1 15.4 33.3 10.9 37.9 21.4 23.3 23.9 17.4 18.5 13.5 20.6 21.7
 13.4 26.2 21.9 19.1 35.4 50.  19.8 23.5 22.5 41.7  7.  25.1 19.6 18.4
 42.8 16.1 31.2 14.3 25.  24.5 19.9 50.  15.  24.4 24.1 34.9 22.6 13.8
 20.9  7.   8.8 14.8 27.5 23.2 19.9 14.4 16.7 32.2 13.2 29.9 50.  32.5
 43.1 17.5 23.9 22.  33.1 21.7 11.9 26.4 12.3 20.3 14.9 26.6 17.1 50.
 15.6 33.  11.3 34.9 36.2 15.4 16.5 13.4 31.7 16.8 21.4 25.  32.7 21.5
 22.7 16.3 24.8 11.8 15.  16.  16.8 20.3 17.5 18.8 23.3 37.2 50.  48.8
 24.5 30.7 20.1 14.1  8.4 38.7 25.3 14.1 27.9 12.5 15.6 20.5 18.5 22.
 19.2  5.  22.2 17.6 15.7 23.8 14.3 22.  50.  15.2 19.5 13.3 32.  19.1
 15.2 20.2 25.  19.5 20.6 11.5  8.1 10.4 21.7 21.9 18.9 23.7 12.  21.7
 23.7 50.  25.  17.8 21.2 22.9 14.9 46.7 19.1 20.  27.5 20.8 31.  18.1
 24.7  9.7 23.1 14.6 18.  17.8 22.6  7.2 20.4 27.1 31.1 13.1  7.4 17.4
 15.1 23.6 30.5 33.8 17.1 15.6 17.8 31.6 20.3 20.9 17.7 11.7 13.4 14.4
 23.1 19.4 16.7 13.3 24.2 10.2 10.2 22.4 36.2 22.   5.6 19.4 29.1 15.6
 48.3 18.2 34.6 30.8 23.7 21.2 14.2 23.8 15.2 23.1 21.1 18.2 21.6 22.6
 21.4 39.8 22.8 12.8 36.5 26.4 17.2 19.7 24.7 13.5 15.3  6.3 23.1  9.6
 29.  32.  26.6 20.2 22.3 28.1 29.  19.5 18.6 19.9 27.1 24.1  7.5 18.4
 19.3 19.3 23.  26.5 22.8 14.  26.6 27.9 50.  22.  24.4 20.  14.5 23.6
 18.9 23.2 25.  14.1 10.9 13.4 13.8 31.5 18.9 23.4 23.3 22.8 19.9 35.1
 18.2 11.9 17.  20.1 20.1 50.  24.3 28.7 20.7 11.7 23.7 23.1 11.8 17.2
 18.4 22.2 22.9 22.4 42.3 13.1 11.  18.3 36.1 43.8 16.6  9.5 20.6 17.8
 19.3 20.1 16.4 20.3 21.1 23.2 23.   8.5 20.4 19.6  8.8 24.3 44.  23.8
 23.1 13.6 29.8 37.3 16.2 50.  22.6 46.  17.4 25.  21.2 16.6 18.5 29.6
 24.8 18.9]

In [28]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=0)

In [29]:
model = Sequential()
model.add(Dense(30, input_dim = 13, activation = 'relu'))
model.add(Dense(6, activation = 'relu'))
model.add(Dense(1, activation = 'sigmoid'))

model.compile(loss = 'binary_crossentropy',
             optimizer='adam',
             metrics = ['accuracy']
             )

In [30]:
model.fit(x_train, y_train, epochs=50, batch_size=10, verbose = False)
model.fit(x_train, y_train, epochs=3, batch_size=1, verbose = True)

Epoch 1/3
  1/354 [..............................] - ETA: 0s - loss: -7703174.0000 - accuracy: 0.0000e+00WARNING:tensorflow:Callbacks method `on_train_batch_end` is slow compared to the batch time (batch time: 0.0000s vs `on_train_batch_end` time: 0.0080s). Check your callbacks.
354/354 [==============================] - 0s 1ms/step - loss: -17264182.0000 - accuracy: 0.0000e+00
Epoch 2/3
354/354 [==============================] - 1s 1ms/step - loss: -25838664.0000 - accuracy: 0.0000e+00
Epoch 3/3
354/354 [==============================] - 1s 1ms/step - loss: -36215300.0000 - accuracy: 0.0000e+00

In [31]:
# 모델 예측

y_pre = model.predict(x_test).flatten()
print(list(y_pre[:10]))
print(list(y_test))

[1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0]
[46.7, 22.4, 24.4, 6.3, 24.8, 37.6, 24.3, 18.0, 25.0, 13.9, 7.5, 28.1, 19.9, 15.2, 30.1, 23.8, 21.1, 13.4, 31.6, 23.0, 12.0, 25.0, 19.8, 50.0, 13.1, 13.3, 17.2, 21.7, 21.5, 15.6, 16.4, 23.1, 20.3, 22.0, 33.1, 14.4, 24.7, 36.2, 24.4, 17.8, 22.0, 20.0, 19.1, 20.6, 22.6, 18.3, 17.6, 13.9, 25.0, 20.6, 19.0, 50.0, 19.9, 33.0, 20.0, 29.6, 20.0, 31.1, 22.3, 42.8, 30.5, 23.7, 15.2, 23.2, 18.3, 21.4, 20.1, 33.2, 20.2, 41.7, 35.4, 22.0, 28.5, 20.4, 23.2, 23.1, 32.2, 7.0, 22.2, 46.0, 17.5, 22.3, 32.0, 20.9, 7.0, 21.2, 14.5, 26.6, 22.5, 22.6, 8.3, 23.2, 11.3, 14.3, 18.9, 12.3, 5.6, 13.8, 28.7, 29.4, 14.3, 8.4, 24.1, 18.5, 23.9, 22.9, 24.1, 16.7, 18.5, 50.0, 21.0, 26.6, 33.4, 34.7, 50.0, 19.6, 10.9, 24.0, 21.4, 14.1, 17.4, 21.2, 33.4, 17.4, 20.2, 30.1, 32.0, 26.4, 13.8, 23.3, 12.8, 27.1, 13.6, 19.3, 18.4, 21.9, 29.9, 22.5, 26.6, 19.9, 48.3, 16.2, 7.2, 19.6, 23.3, 20.8, 35.4, 23.0, 50.0, 23.8, 15.2, 21.6]

In [32]:
result = []
for i in range(10):
    data = '실제가격 : %.3f\t예상가격:%.3f' % (y_test[i], y_pre[i])
    result.append(data)
    print(data)

print(result[:3])

실제가격 : 46.700	예상가격:1.000
실제가격 : 22.400	예상가격:1.000
실제가격 : 24.400	예상가격:1.000
실제가격 : 6.300	예상가격:1.000
실제가격 : 24.800	예상가격:1.000
실제가격 : 37.600	예상가격:1.000
실제가격 : 24.300	예상가격:1.000
실제가격 : 18.000	예상가격:1.000
실제가격 : 25.000	예상가격:1.000
실제가격 : 13.900	예상가격:1.000
['실제가격 : 46.700\t예상가격:1.000', '실제가격 : 22.400\t예상가격:1.000', '실제가격 : 24.400\t예상가격:1.000']

In [33]:
# 결과를 파일로 저장하기

with open('files/result_boston.txt', 'w') as f:
    for i in result:
        f.write(i + '\n')